{% extends "store/base.html" %}

{% block content %}
    <div class="container mt-5 pt-5">
        <blockquote class="blockquote text-center">
            <p class="mb-0">&quot; Books are infinite in number and time is short. The secret of knowledge is to take what is essential, take that and try to line up to it.&quot;</p>
            <footer class="blockquote-footer">Swami Vivekananda <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
    </div>
    <div>
        </p><strong>Dear readers, </strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>We offer tremendous gathering of books in various classification of fiction, non-fiction, bio graphics, history, Religion, self-help, children. We likewise move in immense accumulation of investments and management, computers, engineering, medical college and school content reference books proposed by various foundations as schedule the nation over. Other than this we likewise offer an expensive gathering of E-books at reasonable valuing. We hope our services are of full use for you.</em></p>
    </div>
{% endblock content %}







	         
